@{
    ViewBag.Title = "Thank You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Thank You. Your enquiry has been submitted and we will be contacting you shortly.
</div>

