<!-- Begin footer content -->
<footer>
	<div class="container">
		<div class="muted credit">
			<ul class="list-unstyled">
				<li class="pull-right"><a href="#top">Back to top</a></li>
			</ul>
			<small>Real Estate Demo version <span id="lblAppVersion">1.0.0</span>&nbsp;
				&copy; 2014 by <a href="#" target="_blank">Demo Company Pty Ltd.</a>
			</small>
		</div>
		</div>
</footer>
<!-- End footer content -->