<ul class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="mnuSearch">Search&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a href="~/Property/Search">New Search</a></li>
        </ul>
    </li>
</ul>
